:root {
  --top: 100px;
}

.type {
  width: 700px;
  height: 200px;
  // border: 1px solid  #ff3912;
  margin: 0 auto;
  align-self: center;
  display: grid;
  grid-template-columns: 200px 200px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  // grid: 200px 200px 100px 100px 100px / 100px 100px 100px;
  // grid-gap: 10px;
}

.tag {
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background: #787878;
  margin: 5px;
  color: #fff;
  transition: all .5s linear;

  &:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    line-height: 200px;
    --top: -200px;
    font-size: 36px;

    .mask {
      line-height: 200px;
    }

    &:hover {
      font-size: 14px;
      animation: scaleFont .5s;
      .mask {
        top: 0;
        font-size: 36px;
      }
    }
  }

  &:nth-child(1).out {
    --top: -200px;
    .mask {
      animation: hideTop .5s;
    }
  }

  &:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    line-height: 200px;
    --top: 200px;
    font-size: 36px;

    .mask {
      line-height: 200px;
    }
    &:hover {
      font-size: 14px;
      animation: scaleFont .5s;
      .mask {
        top: 0;
        font-size: 36px;
      }
    }
  }

  &:nth-child(2).out {
    --top: 200px;
    .mask {
      animation: hideTop .5s;
    }
  }

  &:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 100px;
    --top: -100px;
    font-size: 36px;

    &:hover {
      font-size: 14px;
      animation: fadeout .5s;
      .mask {
        opacity: 1;
        font-size: 36px;
        animation: fadein .5s;
      }
    }
  }

  &:nth-child(3).out {
    .mask {
      opacity: .5;
      font-size: 14px;
      animation: fadeout .5s;
    }
  }

  &:nth-child(4).out {
    --top: 100px;
    .mask {
      animation: hideTop .5s;
    }
  }

  &:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    line-height: 100px;
    --top: 200px;

    .mask {
      left: 100px;
      top: 0;
    }

    &:hover {
      .mask {
        left: 0;
        animation: fadeLeft .5s;        
      }
    }
  }

  &:nth-child(5).out {
    --top: 100px;
    .mask {
      animation: hideLeft .5s;
    }
  }

  &:nth-child(6) {
    --top: -100px;
    .mask {
      left: -100px;
      top: 0;
    }
    &:hover {
      .mask {
        left: 0;
        animation: fadeLeft .5s;
      }
    }
  }

  &:nth-child(6).out {
    --top: -100px;
    .mask {
      animation: hideLeft .5s;
    }
  }

  &:nth-child(7) {
    --top: -100px;
  }

  &:nth-child(7).out {
    --top: -100px;
    .mask {
      animation: hideTop .5s;
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    background: #ff3912;
    left: 0;    
    position: absolute;
    top: 200px;
    z-index: 9;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }

  span {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
  }

  &:hover {
    .mask {
      top: 0px;
      animation: show .5s;
    }
  }

  @keyframes hideLeft {
    from {
      left: 0;
    } to {
      left: var(--top);
    }
  }

  @keyframes hideTop {
    from {
      top: 0;
    } to {
      top: var(--top);
    }
  }

  @keyframes hideMask {
    from {
      top: 0;
    } to {
      top: var(--top);      
    }
  }

  @keyframes fadeLeft {
    from {
      left: var(--top);
    } to {
      left: 0;
    }
  }

  @keyframes fadeout {
    from {
      font-size: 36px;
      opacity: 1;
    } to {
      opacity: 0.5;
      font-size: 14px;
    }
  }

  @keyframes fadein {
    0%, 50% {
      opacity: 0;
      font-size: 14px;
    } to {
      opacity: 1;
      font-size: 36px;
    }
  }

  @keyframes scaleFont {
    0% {
      font-size: 36px
    } 100% {
      font-size: 14px;
    }
  }

  @keyframes show {
    0% {
      top: var(--top);
    }
    15% {
      top: var(--top);
    } 100% {
      top: 0;
    }
  }
}