.card_box {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: rgba(155, 155, 155, .5);
    left: -20px;
    top: 16px;
    border-radius: 2px;
    border-left: 10px solid  #787878;
    border-right: 10px solid  #e9e9e9;
    transform: skewX(-10deg);
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 40px;
  //   height: 10px;
  //   background: rgba(155, 155, 155, .5);
  //   left: -20px;
  //   bottom: 16px;
  //   border-radius: 2px;
  //   border-left: 10px solid  #787878;
  //   border-right: 10px solid  #e9e9e9;
  //   transform: skewX(-10deg);
  // }
}

.card_item {
  flex: 1;
  align-self: flex-start;
  padding-left: 12px;
}

.info {
  display: flex;
  height: 40px;
  >* {
    align-self: center;
  }
}

.time {
  color: #a7a7a7;
  margin-right: 24px;
}

.card_content {
  max-height: 200px;
}

.show_more {
  color: #393939;

  &:hover {
    color: #ff3912;
  }
}

.viewer {
  width: 100%;
  height: calc(100vh - 162px);

  body {
    background-image: none;
  }
}